In [2]:
L= ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [3]:
print("the same element using the positive and negative indexing \n Positive:",L[0], '\n Negative', L[-3])
print("the same element using the positive and negative indexing \n Positive:",L[1], '\n Negative', L[-2])
print("the same element using the positive and negative indexing \n Positive:",L[2], '\n Negative', L[-1])

the same element using the positive and negative indexing
 Positive: Michael Jackson
 Negative Michael Jackson
the same element using the positive and negative indexing
 Positive: 10.1
 Negative 10.1
the same element using the positive and negative indexing
 Positive: 1982
 Negative 1982

In [4]:
#Nested List
L= ["Michael Jackson", 10.1 , 1982 , [1 , 2], ("A",2)]
L

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 2)]

In [5]:
L[3]

[1, 2]

In [6]:
L[3][0]

1

In [8]:
L[4][1]

2

In [9]:
L=["Michael Jackson",10.1,1982,"MJ",1]
#List slicing
L[3:5]

['MJ', 1]

In [10]:
#Use extend to add elements to a list
L=["Michael Jackson",10.1]
L.extend(["pop",10])
L

['Michael Jackson', 10.1, 'pop', 10]

In [11]:
#Use append to add elements to the list
L=["Michael Jackson",10.1]
L.append(["pop",10])
L

['Michael Jackson', 10.1, ['pop', 10]]

In [12]:
#lists are mutable so change the element on the basis of index
A=["disco",10,1.2]
print("Before change", A)
A[0]="hard rock"
print("After change", A)

Before change ['disco', 10, 1.2]
After change ['hard rock', 10, 1.2]

In [13]:
#Delete the element on basis of del command 
print("Before change", A)
del(A[0])
print("After change", A)

Before change ['hard rock', 10, 1.2]
After change [10, 1.2]

In [14]:
#split the string by default by spaces
"hard rock".split()

['hard', 'rock']

In [16]:
#split the string using comma
"A,B,C,D,E,F,G".split(",")

['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [17]:
#copy (copy the reference) the list of A
A=["hard rock", 10 , 1.2]
B=A
print("A:", A)
print("B:", B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [18]:
print("B[0]:", B[0])
A[0]="banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

In [20]:
#clone by value
A=["hard rock", 10 , 1.2]
B=A[:]
B

['hard rock', 10, 1.2]

In [21]:
print("B[0]:", B[0])
A[0]="banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: hard rock

In [23]:
#Create a list using following
L=[1,"hello",[1,2,3],True]
L

[1, 'hello', [1, 2, 3], True]

In [24]:
L[1]

'hello'

In [25]:
L[1:4]

['hello', [1, 2, 3], True]

In [27]:
#concatenation of lists
A=[1,'a'] 
B=[2, 1, 'd']
C= A + B
C

[1, 'a', 2, 1, 'd']