In [1]:
#Use quotation marks to defining strings
"Saurabh Gautam"

'Saurabh Gautam'

In [2]:
#Use Single quotes to defining strings
'Saurabh Gautam'

'Saurabh Gautam'

In [3]:
#Strings can be combination of Digits
'1 2 3 4 5 6'

'1 2 3 4 5 6'

In [4]:
#Strings can be combinatin of special characters
'  @ # & * ( ) ! '

'  @ # & * ( ) ! '

In [5]:
#print a string
print('Hello python world')

Hello python world

In [6]:
name="Hello World Python"
name

'Hello World Python'

In [7]:
#print the first element of the string
name[0]

'H'

In [8]:
#We can use any index such as 6
print(name[6])

W

In [9]:
#We can use negative indexing which starts from the right most element 
print(name[-1])

n

In [10]:
#find the length of string
len(name)

18

In [11]:
#We can use multiple characters using slicing
# It takes index 0 to 3
print(name[0:4])

Hell

In [14]:
#It takes index 6 to 17
print(name[6:18])

World Python

In [16]:
#We can use stride value
#Get Every second element f.g. 1, 3, 5, ......
print(name[::2])

HloWrdPto

In [20]:
#Get every second element in the range of 1 to 5
print(name[1:5:2])

on

name = 'John'
statement = name + "is the best"
statement

In [23]:
#concatenation of two strings
name = "John"
name = name + " is the best"
name

'John is the best'

In [25]:
#Multiplication of string into three times
3 * " John "

' John  John  John '

In [26]:
#New line escape sequnce
print ("John \n is the best")

John
 is the best

In [27]:
#tab escape sequence
print("John \t is the best")

John 	 is the best

In [28]:
#Incude \ in string
print("John \\ is the best")

John \ is the best

In [29]:
#r will tell the python that string will print as raw string
print(r"John \\ is the best")

John \\ is the best

In [33]:
#convert all the character in string to upper case
a= "Thriller is the sixth studio album"
b=a.upper()
print("Before upper:", a)
print("After upper:", b)

Before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [34]:
a = "John is the best"
b = a.replace('John','Jack')
print(b)

Jack is the best

In [35]:
name="Michael Jackson"
name.find("Jack")

8

In [36]:
name.find("el")

5

In [37]:
#If cannot find string in the string indicates by -1
name.find("asdfjkl;")

-1

In [38]:
a = "1"
a

'1'

In [39]:
b = "2"
b

'2'

In [40]:
c = a + b
c

'12'

In [44]:
#slicing first three elements
d = "ABCDEFGH"
print(d[0:3])

ABC

In [45]:
print(d[:3])

ABC

In [47]:
#print every second character of the string
e="dacelejfljjl;jkj;jk;"
print(e[::2])

dcljlj;k;k

In [53]:
#print a bacl slash
print("\\\\\\")

\\\

In [56]:
print(r" \ ")

 \

In [59]:
#convert to upper case
f = "You were wrong"
l = f.upper()
l

'YOU WERE WRONG'

In [61]:
#find the first index of snow
g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
g.find("snow")

95

In [71]:
g.replace("Mary","Bob")

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

In [70]:
g

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'